**

# Allowed things
!mockoon/**
!nginx/**
!supervisord/**
!.mockoon-version
!docker-entrypoint.sh
!LICENSE

# Extra exclude from allowed things
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/__pycache__
**/*.md
**/*.rst
